<div class="wholepage">
    <div class="py-5 w-100 position-relative">
        <div id="officerscript" class="position-absolute w-100 d-flex justify-content-center mx-auto">
            <img src="../../../assets/1x/officerscript.png" alt="">
        </div>
        <h2 class="text-center my-5">
            <u>
                ROTARY CLUB OF QUIAPO PLAZA MIRANDA 2022-2023 OFFICERS
            </u>
        </h2>
    </div>
    <div class="px-md-5 mx-auto">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/nnr.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Nancy N. Roxas
                    </h5>
                    President
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/benson.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Benson Hari-Ong
                    </h5>
                    TRF Committee Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/harry.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Harry C. Angping
                    </h5>
                    Secretary
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/carol.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Carolina “Carol” <br> Y. Matsuda 
                    </h5>
                    Public Image<br>
                    Committee Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/geneliza.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Geneliza “Liza” <br> T. Hizon
                    </h5>
                    Executive Secretary
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/jesulito.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Jesulito ”Jess” <br> H. Calimag 
                    </h5>
                    Service Committee A <br>
                    Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/dario.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Dario Yanto
                    </h5>
                    Service Project<br> 
                    Vice Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/dummy2.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Tony Navarette
                    </h5>
                    Service Committee B<br> 
                    Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/dummy2.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Ronnie Mercado
                    </h5>
                    Service Committee <br>
                    Co-Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/junathan.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Jun Obenieta 
                    </h5>
                    Club Admin Chairman
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/doris.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Doris Lopez
                    </h5>
                    Vocational & Fellowship<br>
                    Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/marissa.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Marissa Sabado
                    </h5>
                    Treasurer
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/aileen-jao.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Aileen Jao
                    </h5>
                    Auditor
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/flor-ann.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Flor Ann Cruz
                    </h5>
                    Club Secretary
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/robin.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Robin Choi
                    </h5>
                    International Service <br> Committee Chairman
                </div>
            </div>
            
        </div>

        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/dummy2.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Chris Lao
                    </h5>
                    Youth Adviser
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/mamaril.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Alden Mamaril
                    </h5>
                    Youth Service<br>
                    Committee Chairman
                </div>
            </div>
            <div class="col-md-2 col-4">
                <img src="../../../assets/1x/dina.jpg" class="w-100 circle" alt="">
                <div class="text-center my-3">
                    <h5>
                        Dina Reyes
                    </h5>
                    Rotary Community<br>
                    Corps Adviser
                </div>
            </div>

        </div>
    </div>
</div>
