<div class="footer py-5">
    
    <div class="d-flex flex-row flex-wrap justify-content-center w-75 mx-auto">
        <div class="col-6 col-md-2 pr-0">
            <div class="socmed ml-auto">
                <img src="../../assets/fb-logo.png" class="w-100" alt="">
            </div>
        </div>
        <div class="col-6 col-md-2">
            <div class="socmed mr-auto pl-0">
                <img src="../../assets/ig-logo.png" class="w-100"  alt="">
            </div>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-center w-75 mx-auto mt-4 text-center">
        <div class="col-md-1 mb-2">
            <a href="" (click)="goHome()">Home</a>
        </div>
        <div class="col-md-1 mb-2">

            <a href="#/vision">About</a>
        </div>
        <div class="col-md-1 mb-2">
            <a href="#/setservices?service=shoebox">Services</a>
        </div>
        <div class="col-md-2 mb-2">

            <a (click)="goContact()">Contact Us</a>
        </div>
    </div>
    
</div>