<div class="president">
    <div class="wholepage">
        <div class="py-5 w-100 position-relative">
            <div id="officerscript" class="position-absolute w-100 d-flex justify-content-center mx-auto">
                <img src="../../assets/1x/message.png" alt="">
            </div>
            <h2 class="text-center my-5">
                <u>
                    MESSAGE FROM THE <br> TRANSFORMATIONAL PRESIDENT
                </u>
            </h2>
        </div>
        <div class="body">
            <div class="row">
                <div class="order-md-1 order-2 col-12 col-md-9">
                    <p>
                        Dear Fellow Rotarians of RC of Quiapo Plaza Miranda
                    </p>
         
                    <p>
                        Today, I officially start my journey to lead the Rotary Club of Quiapo Plaza Miranda as its 7th President with 
                        this RY2020-21 theme: “Rotary Opens Opportunities.”
                    </p>
                    
                    <p>
                        I am honoured and excited to take on my role, and promise to do my very best to lead the club to harness its 
                        full potential, to fulfill its mission of Service Above Self. 
                    </p>
                    
                    <p>
                        As of the moment, we already have the following service projects in the pipeline: 
                    </p>
                </div>
                <div class="order-1 order-md-2 col-4 col-md-2 align-self-center">
                    <img src="../../assets/president.png" class="w-100" alt="">
                </div>
            </div>
            
            
            <p>
                TO SERVE OUR COMMUNITY: <br> <br>
            
                For July, we had the Kidney health lecture through Zoom, while in August, we had the distribution of Knowledge in a Shoebox for 150 recipients. 
                For September, we will distribute about 74 boxes of ferrous sulphate, each box contains 50 bottles, with 100 tablets per bottle. This project will be 
                in cooperation with Makati Golden Lions Club District 301-A. 
            </p>
            
            <p>
                TO SERVE OUR PERSONAL GROWTH:  <br> <br>
            
                This year, we also would like to make Rotary serve as a learning opportunity organization. We will come up with lectures and invite motivational 
                speakers to discuss topics that will center on self-growth and fellowship.
            </p>
            
             
            <p>
                TO SERVE OUR CLUB: <br> <br>
            
                I am also proud to announce that we have a Public Image Team to enhance the club’s image and help the club be better known to the 
                community. The team is now working on the improvement and update of our social media sites and the RC of Quiapo Plaza Miranda's 
                website which will be linked to the District 3810 website. 
            </p>
            
            
            <p>
                TO SERVE THE ROTARY MISSIONS: <br> <br>
            
                For the Governor's challenge, I am proud to announce that we have a $1,000. 00 TRF contribution pledge 
                and a $200.00 support for Polio Plus.   Furthermore, we have already 2 registered participants for the Taipei Convention 2021. <br> <br>
                
                There are a lot of things that still has to be done which will not be possible without the support of all the members of this beautiful club. 
                Be happy and take pride in serving. Remember, not everybody is given the opportunity to be of service. I am counting on you all 
                to make this Rotary Year shine, as we continue what our previous leaders have done for us--- the club. <br> <br>
                
                Thank you and Mabuhay ang Rotary Club of Quiapo Plaza Miranda! 
            </p>
            
            <div class="my-5 w-100 text-center">
                <h5>
                    Carolina Y. Matsuda
                </h5>
                Transformational President <br>
                RY 2020-21
            </div>
        </div>
    </div>
</div>