<div id="services" class="wholepage">
    <div class="pt-5 w-100 position-relative">
        <div id="officerscript" class="position-absolute w-100 d-flex justify-content-center mx-auto">
            <img src="../../../assets/1x/officerscript.png" alt="">
        </div>
        <h2 class="text-center my-5">
            <u>
                SERVICES / ACTIVITIES
            </u>
        </h2>
    </div>
    <div class="mb-5 mx-auto py-5 px-3 p-md-5">  
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=paaral">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    PAARAL AT PAG-ASA
                                </div>
                                <img src="../../../assets/1x/paaral.jpg" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=shoebox">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    KNOWLEDGE IN A SHOE BOX
                                </div>
                                <img src="../../../assets/1x/shoebox.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=kidney">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    KIDNEY TALK
                                </div>
                                <img src="../../../assets/1x/kidney.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=dentalmissions">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    DENTAL MISSION
                                </div>
                                <img src="../../../assets/1x/dental.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=disasterresponse">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    DISASTER RESPONSE
                                </div>
                                <img src="../../../assets/1x/disaster.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=linaw">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    OPLAN LINAW
                                </div>
                                <img src="../../../assets/1x/linaw.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=antipolio">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    ANTI-POLIO SABAYANG PATAK ROUND 1
                                </div>
                                <img src="../../../assets/1x/antipolo.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=antirabies">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    ANTI-RABIES
                                </div>
                                <img src="../../../assets/1x/rabies.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=bloodletting">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    BLOOD LETTING
                                </div>
                                <img src="../../../assets/1x/bloodletting.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=distribution">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    DISTRIBUTION OF SCHOOL SUPPLIES
                                </div>
                                <img src="../../../assets/1x/school.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=scholarship">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    SCHOLARSHIP FOR <br> PRE-SCHOOL
                                </div>
                                <img src="../../../assets/1x/scholarship.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=training">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    VOCATIONAL TRAINING
                                </div>
                                <img src="../../../assets/1x/training.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="redirectcontainer col-6 col-md-4 mb-2 px-1">
                        <a href="#/setservices?service=estero">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="redirect position-absolute text-white text-bold text-center mx-5">
                                    ESTERO CLEAN-UP
                                </div>
                                <img src="../../../assets/1x/estero.png" class="w-100" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h3>
                    Our services towards our local communities 
                    revolve around 7 Areas of Focus:
                </h3>
                <div>
                    <h4>
                        Basic Education and Literacy
                    </h4>
                    <ul>
                        <li>
                            Knowledge in a  Shoebox <br>
                            The club provides educational materials that are placed in a shoebox. 
                            This project was launched in year 2016 and has since been adopted by the succeeding club presidents up until the present term, year 2020-2021.
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>
                        Peace and Conflict Prevention & Resolution
                    </h4>
                    <ul>
                        <li>
                            Legal Caravan and Lectures, online via Zoom and live streaming on Youtube
                        </li>
                        <li>
                            Interfaith Dialogue, with a follow through session on Magkaibigan Tayo project
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>
                        Disease Prevention and Treatment
                    </h4>
                    <ul>
                        <li>
                            Cataract Operations
                        </li>
                        <li>
                            Kidney Health Awareness Lecture, online via Zoom and live  streaming on Youtube
                        </li>
                        <li>
                            Construction of a mini clinic within the San Roque Parish compound, plus a Toilet & Wash structure in the same area
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>
                        Water and Sanitation
                    </h4>
                    <ul>
                        <li>
                            Construction of restroom and wash areas in San Roque Parish, Blumentritt, Manila
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>
                        Maternal and Child Health
                    </h4>
                    <ul>
                        <li>
                            Family Planning Seminar
                        </li>
                        <li>
                            Lecture on Natal and Neo-Natal Care
                        </li>
                        <li>
                            Adopt / sponsor pregnant mothers
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>
                        Economic and Community Development
                    </h4>
                    <ul>
                        <li>
                            Coffee selling
                        </li>
                        <li>
                            Pera sa Basura
                        </li>
                        <li>
                            Carpentry
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>
                        Environment Preservation
                    </h4>
                    <ul>
                        <li>
                            Tree Planting
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>