<div class="profile">
    <div class="wholepage">
        <div class="px-5">
            <div class="row">
                <div class="col-md-4 py-3">
                    <div class="containercard">
                        <h3 class="text-center">
                            VISION
                        </h3>
                        <hr />
                        <p>
                            The Rotary Club of Quiapo Plaza Miranda under District 3810 aims to inspire communities to never lose HOPE and to believe that <b>ECONOMIC FREEDOM</b> can be gained through hardwork and perseverance
                        </p>
                        <br>
                        <p>
                            We aim to spread passion, inspiration, synergy, and solidarity among our club members and the community we serve.
                        </p>
                    </div>
                    
                </div>
                <div class="col-md-4 py-3">
                    <div class="containercard">
                        <h3 class="text-center">
                            MISSION
                        </h3>
                        <hr />
                        <p>
                            Our Call to Action: <b> SERVICE ABOVE SELF </b>
                        </p>
                        <br>
                        <p>
                            The Rotary Club of Quiapo Plaza Miranda’s thrust is to empower our beneficiaries with knowledge and skills, and to serve as a catalyst for change by creating a means of livelihood for our local communities.
                        </p>
                    </div>
                    
                </div>
                <div class="col-md-4 py-3">
                    <div class="containercard">
                        <h3 class="text-center">
                            VALUES
                        </h3>
                        <hr />
                        <p>
                            We are guided by a set of principles and values that unite us for a common purpose. These serve as our direction whenever we take action.
                        </p>
                        <br>
                        <p>
                            At the Rotary Club of Quiapo Plaza Miranda, we adhere, practice, and observe the Rotary Four Way Test, an ethical guide which we use for our personal and professional relationships.
                        </p>
                        <br>
                        <p>
                            Of the things we think, say or do: <br>
                            <b>
                                1. Is it the TRUTH?
                            </b> <br>
                            <b>
                                2. Is it FAIR to all concerned?
                            </b> <br>
                            <b>
                                3. Will it build GOODWILL and BETTER FRIENDSHIPS?
                            </b> <br>
                            <b>
                                4. Will it be BENEFICIAL to all concerned?
                            </b>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>