<div class="profile">
    <div class="w-100 position-relative">
        <div class="overlay position-absolute">

        </div>
    </div>
    <div class="wholepage">
        <div class="body">
            <div class="placer p-5">
                <h3 class="text-center">
                    Club Profile
                </h3>
                <hr />
                <p>
                    The Rotary Club of Quiapo Plaza Miranda was chartered on April 28, 2014.  
                    The club was cited Most Outstanding Rookie Club and its Charter President Most 
                    Outstanding Rookie President during RY 2014-2015.  The Club was also given 
                    twenty-five (25) other awards in recognition of  its various accomplishments 
                    in all avenues of service including the Rotary Foundation.  In succeeding Rotary years, the club continued to be cited as one of Most Outstanding Rotary Clubs 
                    in District 3810.
                </p>
                <br>
                <p>
                    The club membership is a mix of men and women who run their respective 
                    businesses in various platforms and categories such as Corporate, Government Office, Government Corporation, and the Cabinet and Constitutional bodies.
                </p>
            </div>
            <div class="rcqpmlogo ml-auto mt-auto">
                <img src="../../assets/rotary sunrise.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>