<div class="wholepage">
    <div class="mx-auto mx-md-5 mb-2 d-flex flex-row align-items-center justify-content-center flex-wrap">
        <div class="col-12 col-lg-5 ml-md-5 mr-md-2 ">
            <div class="w-100">
                <img src="../../../assets/decor-upper.png" class="w-100" alt="">
            </div>
            <div class="text-wrap text-center px-md-5 my-3">
                <h2 class="my-3">
                    SERVICE ABOVE SELF
                </h2>
                <p>
                    We, the members of the Rotary Club of Quiapo Plaza Miranda, 
                    believe in pushing ourselves beyond our comfort zones 
                    for the betterment of others. 
                </p>
                <p>
                    This is compassion. This is selflessness. 
                    This is SERVICE ABOVE SELF. 
                </p>
                <p>
                    We aim to improve the quality of life among the people in the communities we serve by promoting economic self-sufficiency. 
                </p>
                <p>
                    As members of The Rotary Club of Quiapo Plaza Miranda, which is part of a global network, we speak loud and proud through the actions we take.
                </p>
            </div>
            <div class="w-100">
                <img src="../../../assets/decor-bottom.png" class="w-100" alt="">
            </div>
        </div>
        <div class="col-12 col-md-5 mr-md-5 ml-md-2 ">
            <!-- <div class="w-100">
                <img src="../../../assets/church.png" class="w-100" alt="">
            </div> -->
        </div>
    </div>
    <div class="px-4 pt-5 pt-md-0 mx-auto mb-2 d-flex flex-row align-items-center justify-content-center flex-wrap mt-md-5">
        <div class="col-12 col-lg-2 mx-auto ml-md-5 d-flex justify-content-center">
            <img src="../../../assets/imagine-rotary.png" class="w-100 mx-auto px-1 px-md-0 program-logo" alt="">
        </div>
        <div class="col mx-auto px-3 mr-md-5 pr-md-3 mt-5 my-md-0">
            <div class="mt-5">
                <h5 class="text-bold">The Rotary International Theme for RY 2022-2023:
                </h5>
            </div>
            <p>
                RI President Jennifer Jones imagines a Rotary where members act to make their dreams become reality and they make the 
                most of their club experiences. She urges members to engage more with each other and use these connections to build 
                partnerships that change the world.
            </p>
        </div>
    </div>
</div>
