<div class="wholepage">
    <div class="py-5 w-100 position-relative">
        <div id="officerscript" class="position-absolute w-100 d-flex justify-content-center mx-auto">
            <img src="../../../assets/1x/memberscript.png" alt="">
        </div>
        <h2 class="text-center my-5">
            <u>
                ROTARY CLUB MEMBERS
            </u>
        </h2>
    </div>
    <div class="row membercontainer mx-auto">
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                ANG, MARYL KAREN G.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                HIZON, GENELIZA T
            </h5>
            Club Executive Secretary/Director
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                REYES, DIVINA M.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                ANGPING, HARRY C.
            </h5>
            Club Membership Chair
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                IKEGATA, TAISEI
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                ROXAS, NARCISA N.
            </h5>
            Club President
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                ANGPING, MARIA ZENAIDA B.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>JAO, AILEEN SIY
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>SABADO, MARISSA E.
            </h5>
            Club Treasure
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>CALIMAG, JESULITO H.
            </h5>
            Club Service Project Chair
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>LAO, CHRISTOPHER P.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>SERRANO, JAY JOSEPH C.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>CALLEJA, JOSEPH PETER J.
            </h5>
            Military Service
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>LIM, GLENDA V.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>TAMAYO, DONN C.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>CATAPANG, GREGORIO
            </h5>
            Membe
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>LIM, WILLETTE GEM V.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                TAMAYO, JEWELYN
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>CRUZ, FLOR ANN O.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                LIM, WINONA GAIL V.
            </h5>
            Member
        </div>


        <div class="text-left mb-3 col-6 col-md-4">
            <h5>
                TAN, RYAN
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>CUSI KAYCEE M.
            </h5>
            Membe
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>LOPEZ, DORIS MARIE S.
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>TEVES, LORETO JR. M.
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>FARRUGIA, TADD LEUSETTE
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>MAMARIL, ALDEN JEROME C.
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>VAILOSES, MELODINA O.
            </h5>
            Member
        </div>


        <div class="text-left mb-3 col-6 col-md-4">
            <h5>GALANG, ARMAN JASON M.
            </h5>
            Member
        </div>



        <div class="text-left mb-3 col-6 col-md-4">
            <h5>MATSUDA, CAROLINA Y.
            </h5>
            Club Public Image Chair
        </div>


        <div class="text-left mb-3 col-6 col-md-4">
            <h5>WANG, ALEX CHUA
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>HARI-ONG, BENSON
            </h5>
            HClub Foundation Chair
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>MERCADO, RONALD JOSEPH S.
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>TAE, CHOI WON
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>HASHIMOTO, JOBI T.
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>NAVARETTE, ANTONIO B.
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>YANTO, DARIO JR. A.
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>HERNANDEZ, LUZ A.
            </h5>
            Member
        </div>

        <div class="text-left mb-3 col-6 col-md-4">
            <h5>ONG, ROBERT
            </h5>
            Member
        </div>
        <div class="text-left mb-3 col-6 col-md-4">
            <h5>ZAMORANOS, TERESITA D.
            </h5>
            Member
        </div>

    </div>
</div>