<div id="contactus" class="contact">
    <div class="wholepage">
        <div class="px-3 row justify-content-center align-items-center">
            <div class="col-md-6">
                <h4>
                    CONTACT US
                </h4>
                <hr>
                <p>
                    We welcome inquiries, suggestions, and comments you wish to share <br> with our club, Rotary Club of Quiapo Plaza Miranda. Feel free <br> to get in touch with us.
                    Simply fill-out the form shown in this page and send.
                </p>
                <div class="w-100" style="opacity: .4;" >
                    <img src="../../../assets/intramuros.png" class="w-100" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contactform card p-3 p-md-4">
                    <form>
                        <div class="form-group">
                            <label for="fullname">
                                Name
                            </label>
                            <input name="fullname" placeholder="Enter Name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email
                            </label>
                            <input name="email" placeholder="Enter Email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message">
                                Message
                            </label>
                            <textarea name="message" id="message" rows="5" placeholder="Enter Message" class="form-control"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-success">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="px-3 pt-5 pt-md-3 pb-5 row justify-content-center align-items-bottom">
            <div class="col d-flex">
                <div class="card p-2 w-100 mx-auto mt-auto">
                    <img src="../../../assets/networld.jpg" class="w-100" alt="">
                </div>
            </div>
            <div class="col-12 col-md-8 mt-5 mt-md-0">
                <h5>
                    Meeting Venue
                </h5>
                <hr>
                <p>
                    The Networld Hotel <br>
                    Roxas Blvd. cor. Sen. Gil Puyat Ave., 1302, Manila
                </p>
                <div class="card p-2">
                    <div class="w-100 overflow-hidden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.0144704076174!2d120.98138521529486!3d14.598251289803976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ca1cecf5b5c7%3A0xbaf7fc94d1b25e3a!2sPlaza%20Miranda!5e0!3m2!1sen!2sph!4v1601933961202!5m2!1sen!2sph" width="950" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>